:root {
  --white: #ffffff;
}

/* нет маркеров у списков */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

 /* нет подчеркиваний ссылок */
.link {
  text-decoration: none;
}

/* курсор на кнопке */
button {
  font-family: inherit;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #4D5AE5;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

  /* Header */

  .header {
    border-bottom: 1px solid #e7e9fc;
    
}

.header-container {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.menu-item {
  padding-top: 24px; 
  padding-bottom: 24px;
}

.site-nav-link {
  padding: 24px 0 24px 0;
}

 .menu-link:hover,
 .menu-link:focus {
     color: #404BBF;
 }

 .contacts {
     font-style: normal;
     margin-left: auto;
 }

 .contact-info {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0 24px 0;
 }

 .contact-info:hover,
 .contact-info:focus {
     color: #404BBF
 }
 
 .contact-nav {
  display: flex;
  gap: 40px;
  align-items: center;
  padding-top: 24px;  
  padding-bottom: 24px;
}

 .logo-studio {
 color: #2E2F42;
 }

 .logo-web {
     font-family: 'Raleway', sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.17;
     align-items: center;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4D5AE5;
     display: flex; 
     display: inline-block;
     margin-right: 76px
 }
 .menu-link {
 font-family: 'Roboto', sans-serif;
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #2E2F42;
 }
 
 /* Ad section */

.hero-section {
  background: #2E2F42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 48px;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  font-size: 56px;
  max-width: 496px;
}

.hero-btn {
  background-color: #4D5AE5;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  height: 56px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer;
  list-style: none;
  border-color: #4D5AE5;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404BBF;
  color:#FFFFFF;
}
  
/* Section 1 */
.features-section {
  margin-top: 0;
  padding: 120px 0 120px 0;
}

.title {
  margin-bottom: 8px;
  margin-top: 0;
}

.hiden-index {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin-bottom: 8px;
} 

.features-list {
  display: flex;
 gap: 24px;
}

.features-title {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.features-text {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.features-item {
  width: calc((100% - 72px) / 4);
}
 
/* We doing */
.section-title {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;

}
.work-section {
  padding-bottom: 120px;
}

.work-list {
    display: flex;
    gap: 24px;
}

.portfolio-list-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.portfolio-list-text {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}

.team-section {
  padding: 120px 0 120px 0;
}

.team-worker {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 0;
}

.work-list {
  display: flex;
  gap: 24px;
}

.team-item  {
  background-color: #FFFFFF;
  text-align: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-profession {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
}

.team-section {
  background-color: #F4F4FD
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #FFFFFF;
}

.team-card {
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
}

/* Footer section */
.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.info-footer {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  max-width: 264px;
  
  }
  .logo-studio-footer { 
  color: #F4F4FD;
  }

/* Portfolio Page */
.portfolio-main {
  font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color:#F4F4FD;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #FFFFFF;
  background: #404BBF;
  cursor: pointer;
}

.portfolio-list-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
  margin-top: 0;
}

.container-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-list-text {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0; 
  color: #434455;
  }

.portfolio-main {
  padding-top: 96px;
  padding-bottom: 120px;

}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-btn {
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  background: #404BBF;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  border: 1px solid transparent;
}

.portfolio-btn-list {
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
  }